   .dailyTime{
    padding-top: 5px;
    float:left;
    width:180;
    clear:left;
  } 
  .dailyTime2{
    padding-top: 15px;
    float:left;
    width:180;
    clear:left;
  }  

  .dailyEmissions{
    padding-top: 1px;
    padding-bottom:20px;
    padding-left: 450px;
  }

  #activityTimeline1{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:0px;
    padding-left: 40px;
    padding-right: 230px;
  }

  #travelEmissions1{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 40px;
  }

  #dailyPassengers{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 40px;
  }
  #dailyDistance{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 40px;
  }

  #dailyTime{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 40px;
  }

/*SECOND ROW OF GRAPHS*/  
  #activityTimeline2{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:0px;
    padding-left: 40px;
    padding-right: 230px;
  }

  #travelEmissions2{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 40px;
  }

  #outsideEmissions{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 50px;
  }

  #totalEmissions{
    float: left;
    width:180;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 50px;
  }

/*  THIRD ROW OF GRAPHS
*/

  #weeklyCarbonCost{
    padding-top:60px;
    float: left;
    width:200;
    clear:left;
  }

  #weeklyTravelTime{
    padding-top: 20px;
    padding-left: 50px;
    float: left;
    width:200;
  }

  #weeklyTravelDistance{
    padding-top: 20px;
    padding-left: 150px;
    float: left;
    width:200;
  }  

  #weeklyTravelEmissions{
    padding-top: 20px;
    padding-left: 150px;
    float: left;
    width:200;
  }
