.emissions.axis path,

.emissions.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.emissions.y.axis path {
  display: none;
}

/* legend placement
*/
.travelLegend{
	font: 9.8px Open Sans, sans-serif;
	padding-left: 0px;
	padding-top: 10px;
	width:200px;
}
.travelLegend2{
	font: 9.8px Open Sans, sans-serif;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:200px;

}

.outsideLegend{
	font: 9.8px Open Sans, sans-serif;
	padding-left: 0px;
	padding-top: 10px;
	width:350px;
}
.outsideLegend2{
	font: 9.8px Open Sans, sans-serif;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:350px;

}

.totalLegend{
	float:left;
	font: 9.8px Open Sans, sans-serif;
	padding-left: 0px;
	padding-top: 10px;
	width:200px;
}