  body {
    font: 12px Open Sans, sans-serif;
  }

  h1{
    font: 18px Open Sans, sans-serif;
/*    width:25%;
*/      }
  h2{
    font: 18px Open Sans, sans-serif;
/*    width:25%;
*/  }
 /*tooltip styling*/
  .d3-tip {
    line-height: 1;
    padding: 7px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 2px;
    font: 12px Open Sans, sans-serif;

  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;

    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.7);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  .legend{
    float:left;
  }
