/*Weekly View styling*/

  #weekly{
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 50px
  }

  .weekly.axis {
    font: 10px sans-serif;
  }
  
  .weekly.axis path,
  .weekly.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .weekly.text{
    font: 12px Open Sans, sans-serif;
  }

  .weekly.y.axis path{
    fill: none;
    stroke: #000;
  }
  .weekly.x.axis path {
    display: none;
  }

